.containerImageSponsor{
    width: 32%;
    height: 32%;
    padding: 0em 0.4em;
}

.imgSponsor{
    height: 100%;
    width: 100%;
    background-image: url(../../assets/sponsor/github.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.containerImageSponsor:hover{
    cursor: pointer;
    background-color: rgba(183, 174, 174, 0.591);
    border-radius: 2%;
}

.containerSponsors >  .containerImageSponsor:nth-child(1){
    width: 24%;
}

.containerSponsors > .containerImageSponsor:nth-child(1) > a > .imgSponsor{
  background-size: contain;
}

.containerSponsors > .containerImageSponsor:nth-child(2) > a >.imgSponsor{
    background-size: contain;
  }

@media screen and (max-width: 1210px) {
    .containerImageSponsor{
      width: 80%; 
    }
}