.containerImageSponsor{
    width: 32%;
    height: 34%;
}

.imgSponsor{
    margin: auto;
    height: 70%;
    width: 60%;
    background-image: url(../../assets/sponsor/github.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

a{
    text-decoration: none;
}

.rangeSponsor{
    width: 100%;
    height: 20%;
    display:flex;
    justify-content: end;
    align-items: flex-start;
    color: white;
}
.txtRangeSponsor{
    padding: 1em;
    margin-top: auto;
    margin-right: 0px;
    border-radius: 5px 0px 6px 0px;
    background-color: black;
}
.containerImageSponsor{
    background-color: #E8EAED;
    border-radius: 12px;
    border-bottom: 8px solid rgb(1, 5, 16);
}
.containerImageSponsor:hover{
    cursor: pointer;
    background-color: rgba(183, 174, 174, 0.591);
}

.containerSponsors >  .containerImageSponsor:nth-child(1){
}

.containerSponsors > .containerImageSponsor:nth-child(1) > a > .imgSponsor{
  background-size: contain;
  width: 50%;
}

.containerSponsors > .containerImageSponsor:nth-child(2) > a >.imgSponsor{
    background-size: contain;
  }

@media screen and (max-width: 1210px) {
    .containerImageSponsor{
      width: 80%; 
    }

}