
.organizer{
    width: 24%;
    height: 200px;
    margin:50px;
}

.imgOrganizer{
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}

.imgOrganizer:hover{
    cursor: pointer;
    background-color: rgba(183, 174, 174, 0.591);
    border-radius: 2%; 
}

@media screen and (max-width: 1210px) {
    .organizer{
      width: 100%; 
    }
}